@font-face {
  font-family: Roboto-Light;
  src: url("../fonts/RobotoCondensed-Light.ttf");
}
@font-face {
  font-family: Roboto-Bold;
  src: url("../fonts/RobotoCondensed-Bold.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}

body {
  font-family: 'Roboto';
  /*
  300, 400, 700
  */
  background-color: #2d3436;
  color: #dfe6e9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
h1, h2 {
  font-family: 'Roboto-Light';
}
h1 {
  font-size: calc(28px + 1vw);
  margin: 0;
}
h2 {
  font-size: calc(18px + 1vw);
  margin-top: calc(7px + 1vw);
}
input {
  border: none;
  border-bottom: 1px solid #ececec;
  background: transparent;
  width: 50vw;
  padding: calc(10px + 1vw);
  color: #ececec;
  font-size: calc(16px + 1vw);
  text-align: center;
}
input[type=number] {
  -webkit-text-security: disc;
}
p {
  font-family: 'Roboto';
  font-size: calc(14px + 1vw);
  text-align: center;
}

.-hidden {
  display: none!important;
}

#notification {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: calc(35px + 1vh);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#notification p {
  margin: 0 auto;
}

.notification_err {
  background: #d91e18;
}
.notification_msg {
  background: #26c281;
}

#window__create-pin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.window__create-pin__field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: calc(35px + 1vw);
}

#window__create-pin__field label {
  font-size: calc(16px + 1vw);
  margin-bottom: 15px;
}

#window__main-view {
  height: 100%;
}

#window__main-view a {
  background: #dfe6e9;
  width: 200px;
  height: auto;
  border-radius: 3px;
  text-decoration: none;
  color: #2d3436;
  padding: 10px;
}

#window__create-key {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
}

#private_key_use {
  pointer-events: none;
  opacity: 0.5;
}

#window__create-key button {
  background: #dfe6e9;
  display: block;
  margin: 0 auto;
  width: 135px;
  height: auto;
  border-radius: 3px;
  text-decoration: none;
  color: #2d3436;
  border: none;
  padding: 10px;
}

#window__view-keys {
  width: 100%;
  height: 100%;
}

#window__view-keys h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 35px;
}

#key_canvas {
  height: 75vh;
  width: 100%;
  background: #dfe6e9;
}

#key_canvas p {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  color: #2d3436;
}

#message_curator {
  resize: none;
  height: 200px;
  width: 90%;
  font-size: 14px;
  padding: 10px;
  margin: 0 auto;
  display: block;
}

#message_curator_btnwrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 35px;
}

#message_curator__encrypt {
  background: #dfe6e9;
  display: block;
  margin: 0 15px;
  width: 135px;
  height: auto;
  border-radius: 3px;
  text-decoration: none;
  color: #2d3436;
  border: none;
  padding: 15px 10px;
  font-size: 14px;
}
#message_curator__encrypt:hover {
  cursor: pointer;
}

#message_curator__decrypt {
  background: #dfe6e9;
  display: block;
  margin: 0 15px;
  width: 135px;
  height: auto;
  border-radius: 3px;
  text-decoration: none;
  color: #2d3436;
  border: none;
  padding: 15px 10px;
  font-size: 14px;
}
#message_curator__decrypt:hover {
  cursor: pointer;
}
#message_curator__close {
  background: #dfe6e9;
  display: block;
  margin: 0 15px;
  width: 135px;
  height: auto;
  border-radius: 3px;
  text-decoration: none;
  color: #2d3436;
  border: none;
  padding: 15px 10px;
  font-size: 14px;
}
#message_curator__close:hover {
  cursor: pointer;
}

#qr_listview {
  list-style: none;
  margin: 0px;
  padding: 0;
  width: 100%;
  overflow-y: scroll;
  height: calc(100% - 100px);
}

#qr_full_view {
  display: none;
}

#qr_listview li {
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid #dfe6e9;
}
#qr_listview li:hover {
  cursor: pointer;
  background: rgba(85, 239, 196, 0.35);
}

#qr_listview li p {
  font-size: 24px;
}

.qr__tiny {
  transform: scale(0.5);
}

.qr__actual {
  display: flex;
  justify-content:center;
  margin-top: 55px;
}

.qr_code {
  
}

.qr_code__template {
  display: none!important;
}